spring:
  application:
    name: demo-spring-data

  datasource:
    url: jdbc:postgresql://localhost:5432/test_creation_db
    username: postgres
    password: meraj1383
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080